.home {
    margin-top: 0%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box {
    width: 50%;
    border: 0px solid black;
    box-sizing: border-box;
    margin: 3px;
    border-radius: 5px;
    background-color: #62c4a6; /* Updated color */
    height: 500px;
    font-family: Arial, sans-serif; /* Updated font */
}

.box1 {
    width: 50%;
    border: 0px solid black;
    box-sizing: border-box;
    margin: 3px;
    border-radius: 5px;
    height: 500px;
    background-color: #f3a683; /* Updated color */
    font-family: Arial, sans-serif; /* Updated font */
}

.form {
    margin-top: 10px;
}

.upload {
    /* Styles removed */
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #f9ca24; /* Updated color */
    color: white; /* Updated color */
    font-family: Arial, sans-serif; /* Updated font */
}

#loader {
    display: none;
    margin-top: 20px;
}

.upload-container {
    width: 90%;
    border: 1px dashed gray;
    background-color: #ecf0f1; /* Updated color */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.upload-icon {
    font-size: 48px;
    color: #95a5a6; /* Updated color */
    margin-bottom: 10px;
}

.file-name {
    font-size: 16px;
    color: #95a5a6; /* Updated color */
}
